# CinetPay Configuration
CINETPAY_SITE_ID=443750
CINETPAY_API_KEY=462758687627506324d5460.43739216
CINETPAY_SECRET_KEY=

# App Configuration
APP_URL=http://localhost:3000

# Sourcetable Integration
SOURCETABLE_API_KEY=apnet_sec_9823_dash_771
