rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() { return request.auth != null; }
    function isOwner(userId) { return isAuthenticated() && request.auth.uid == userId; }
    function isAdmin() {
      return isAuthenticated() && 
        (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'ADMIN' ||
         request.auth.token.email == "leabolaurent0@gmail.com");
    }

    match /users/{userId} {
      allow read: if true; 
      allow write: if isOwner(userId);
    }

    match /services/{serviceId} {
      allow read: if true;
      allow create: if isAuthenticated();
      allow update, delete: if isAuthenticated() && resource.data.prestataireID == request.auth.uid;
    }

    match /transactions/{transactionId} {
      allow read: if isAuthenticated() && (resource.data.clientID == request.auth.uid || resource.data.prestataireID == request.auth.uid || isAdmin());
      allow write: if false; 
    }

    match /identities/{identityId} {
      allow read: if isOwner(identityId) || isAdmin();
      allow create: if isOwner(identityId);
      allow update, delete: if isAdmin();
    }
  }
}
