rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Dossier avatars/ : Tout le monde peut voir, seul le propriétaire peut modifier sa photo.
    match /avatars/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Dossier identites/ : Strictement privé. Seul l'admin et le propriétaire peuvent voir ces images.
    match /identities/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && (
        request.auth.uid == userId || 
        firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'ADMIN'
      );
    }
  }
}
